@import "./mixins/offcanvas-framework";
@import "./offcanvas-variables";


//
// Off-Canvas
// --------------------------------------------------

html {
    min-height: 100%;
    height: 100%;
}

body.has-offcanvas {
    min-height: 100%;
    height: 100%;
}

.has-offcanvas {
    position: relative;
}

// Base class
// --------------------------------------------------


.offcanvas {
    display: block;
    background-color: @offc-bg;
    color: @offc-color;
    border-right: 1px solid @offc-border-color;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: @zindex-offcanvas;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));

    &-contents, &-heading, &-body, &-nav, &-footer {
        display: inherit;
        margin: 0;
        width: 100%;
        position: relative;
    }

    &.offcanvas-right {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 1px solid @offc-border-color;
        .box-shadow(0 -1px 1px rgba(0,0,0,.05))
    }

    &.offcanvas-inverse {
        background-color: @offc-inverse-bg;
        color: @offc-inverse-color;
        border-right: 1px solid @offc-inverse-border-color;

        &.offcanvas-right {
            border-right: 1px solid @offc-border-color;
        }
    }
}

.offcanvas-controls {
    float: right;
    margin-right: (-1 * @offc-ctrls-default-width);
    padding: @offc-ctrls-padding;
    height: 100%;
    position: relative;
    width: @offc-ctrls-default-width;
    z-index: 500;
}

.offcanvas-contents {
    background-color: @offc-bg;
    height: 100%;
    width: 100%;
    overflow: auto;
    @z-index: 100;
}

.offcanvas-right {
    .offcanvas-controls {
        float: left;
        margin-left: -1 * @offc-ctrls-default-width;
        margin-right: 0;
    }
}

// OFF CANVAS CONTENT STYLES

.offcanvas-heading {
    border-bottom: 1px solid @offc-border-color;
    padding: @offc-heading-padding;
    color: inherit;

    .offcanvas-title {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.offcanvas-inner-toggle {
    position: absolute;
    top: @offc-base-padding;
    right: @offc-base-padding;
}

.offcanvas-body, .offcanvas-nav {
    padding: @offc-body-padding;
}

.offcanvas-nav, .offcanvas-fullnav {
    padding: @offc-nav-padding;
    margin-bottom: 0;
    list-style: none;
    &:extend(.clearfix all);

    > li {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 5px;

        a {
            color: @offc-nav-link-color;
            border-radius: @offc-nav-border-radius;
            position: relative;
            display: block;
            padding: @offc-nav-link-padding;

            &:hover, &:focus {
                color: @offc-nav-link-hover-color;
                text-decoration: none;
                background-color: @offc-nav-link-hover-bg;
            }
        }

        &.active a {
            color: @offc-nav-link-hover-color;
            background-color: @offc-nav-link-hover-bg;
        }
    }
}

.offcanvas-fullnav {
    color: @offc-inverse-nav-link-color;
    padding: 0;

    > li {
        margin-bottom: 0;

        a {
            border-radius: 0;
        }
    }
}

.offcanvas.offcanvas-inverse {
    .offcanvas-contents {
        background-color: @offc-inverse-bg;
    }

    .offcanvas-fullnav, .offcanvas-nav {
        > li {
            a {
                color: @offc-inverse-nav-link-color;
                padding: @offc-navfull-padding;

                &:hover, &:focus {
                    color: @offc-inverse-nav-link-hover-color;
                    background-color: @offc-inverse-nav-link-hover-bg;
                }
            }

            &.active a {
                color: @offc-inverse-nav-link-hover-color;
                background-color: @offc-inverse-nav-link-hover-bg;

                &:hover, &:focus {
                    color: @offc-inverse-nav-link-hover-color;
                    background-color: @offc-inverse-nav-link-hover-bg;
                }
            }
        }
    }
}

.offcanvas-footer {
    padding: @offc-footer-padding;

    &.locked {
        position:   absolute;
        bottom:     0;
        left:       0;
    }
}

.panel-heading, .panel-footer {
    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
        color: inherit;
    }
}

.make-offcanvas-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-offcanvas(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-offcanvas(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-offcanvas(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-offcanvas(lg);
}
