<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>bootstrap-drawer | Docs | <%= title %></title>
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="example/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="example/bootstrap-drawer.css">
    <link rel="stylesheet" href="example/drawer-docs.css">
    </head>
    <body class="has-offcanvas">
        <div id="docDrawer" class="drawer dw-xs-10 dw-sm-4 dw-md-3 fold in open" aria-labelledby="docDrawer">
        <div class="drawer-controls">
            <a href="#docDrawer" data-toggle="drawer" href="#docDrawer" aria-foldedopen="true" aria-controls="docDrawer" class="btn btn-default"><i class="fa fa-align-justify"></i></a>
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h2 class="drawer-title"><strong>bootstrap-drawer</strong></h2>
            </div>
            <div class="drawer-body">
                <iframe src="https://ghbtns.com/github-btn.html?user=clineamb&repo=bootstrap-drawer&type=star&count=true" frameborder="0" scrolling="0" width="100" height="20px"></iframe>&nbsp; 
                <iframe src="https://ghbtns.com/github-btn.html?user=clineamb&repo=bootstrap-drawer&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100" height="20px"></iframe>
            </div>
            <div class="drawer-heading">
                <h3 class="drawer-title">Docs</h2>
            </div>
            <ul id="doc-nav" class="drawer-fullnav">
                <li role="presentation"><a href="index.html">Home &amp; Basics</a></li>
            </ul>
            <div class="drawer-heading">
                <h3 class="drawer-title">Other Links</h2>
            </div>
            <ul class="drawer-fullnav">
                <li role="presentation"><a href="http://github.com/clineamb/bootstrap-drawer" target="_blank"><i class="fa fa-github-alt"></i>&nbsp; GitHub Repo</a></li>
                <li role="presentation"><a href="http://www.npmjs.com/package/bootstrap-drawer" target="_blank"><i class="fa fa-share-square"></i>&nbsp;npm</a></li>
                <li role="presentation"><a href="http://twitter.com/clineamb" target="_blank"><i class="fa fa-twitter"></i>&nbsp;@clineamb</a></li>
                <li><a name=""><iframe src="https://ghbtns.com/github-btn.html?user=clineamb&type=follow&count=true" frameborder="0" scrolling="0" width="100%" height="20px"></iframe></a></li>
            </ul>
            <div class="drawer-footer">
                <small>&copy; Caroline Amaba</small>
            </div>
        </div>
    </div>
    <div id="drawer-docs">
        <div class="jumbotron page-topper">
            <div class="container">
                <h1>bootstrap-drawer</h1>
                <h4>bootstrap-drawer is a Bootstrap add-on that gives you an off-canvas/drawer element to your page or container!</h4>
            </div>
        </div>
        <div class="container">
            <div class="content">